run = "npm run start"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "build"
build = ["sh", "-c", "npm run build"]

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[ports]]
localPort = 3000
externalPort = 80
